/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body{
  margin:0;
  font-family: Roboto, sans-serif;
}
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
md-toolbar-row{
  justify-content:space-between;
}
app-capturedob{
  width: 250px;
  height: auto;
  float: left;
}
app-addweekdialog{
  width: 600px;
  height: auto;
  float: left;
}
.datepicker-calendar{
  position: fixed !important;
}
